<main class="home">
  <div class="container home-wrapper">
    <ul class="movies-list">
      <li class="movie">
        <div class="poster-wrapper">
          <img class="movie-poster" src="./images/Rectangle 5.jpg" alt="" />
        </div>
        <div class="movie-meta">
          <h2 class="movie-title">greyhound</h2>
          <p class="movie-genre">Drama, Action | 2020</p>
        </div>
      </li>
      <li class="movie">
        <div class="poster-wrapper">
          <img class="movie-poster" src="./images/Rectangle 5.jpg" alt="" />
        </div>
        <div class="movie-meta">
          <h2 class="movie-title">greyhound</h2>
          <p class="movie-genre">Drama, Action | 2020</p>
        </div>
      </li>
      <li class="movie">
        <div class="poster-wrapper">
          <img class="movie-poster" src="./images/Rectangle 5.jpg" alt="" />
        </div>
        <div class="movie-meta">
          <h2 class="movie-title">greyhound</h2>
          <p class="movie-genre">Drama, Action | 2020</p>
        </div>
      </li>
    </ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</main>
